{{! Use the main layout }}
{{!< main }}

<section class="login-register">
    <section class="form-area" id="form-area">
        <h2 id="form-title">Login</h2>
        <!-- errors will appear here -->
        {{#if loginError}}
            <p class="error-message">{{loginError}}</p>
        {{/if}}
        {{#if regError}}
            <p class="error-message">{{regError}}</p>
        {{/if}}
        <a href="/auth/google" class="google-login-button">Login with Google</a>
    </section>
</section>
