body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: rgb(0, 157, 255);
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.header-logo {
    height: 50px;
    margin-right: 20px;
}

header h1 {
    display: inline;
    font-size: 2rem;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.user-info {
    display: flex;
    align-items: center;
}

.header-avatar {
    border-radius: 50%;
    height: 40px;
    margin-left: 10px;
}

.content {
    padding: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
